$TTL    604800 ; 1 week
@       IN      SOA     {{ ansible_hostname }}.{{ fw_network_internal_domain }}. root.{{ fw_network_internal_domain }}. (
                     2006020201 ; Serial
                         604800 ; Refresh
                          86400 ; Retry
                        2419200 ; Expire
                         604800); Negative Cache TTL
;
        IN      NS      {{ ansible_hostname }}.{{ fw_network_internal_domain }}.
